<h2><%= @user.name %></h2>
<h3>@<%= @user.username %></h3>


<% if current_user && current_user.id == params[:id].to_i %>
<form action="/users/<%= @user.id %>/edit">
    <input type="submit" value="Edit Profile" />
</form>
<% else %>
<div>
	<form action="/users/<%= @user.id %>/follow" method="post">
		<input type="submit" value="Follow" class="btn-default" >
	</form>

</div>

<% end %>

<p>Following: <a class="link" href="/users/<%= @user.id %>/checkfollowing"><%= @user.followed.count %></a></p>

<p>Follower: <a class="link" href="/users/<%= @user.id %>/checkfollowers"><%= @user.followers.count %></a></p>

<%Tweet.where(user_id: @user.id).each do |tweet|%>
<p><a class="link" href="/tweets/<%= tweet.id %>"><%= tweet.title %></a> @<%= tweet.user.username %></p>
<% end %>


